@model Domains.TbAboutApp
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">لوحة التحكم/</span>  عن التطبيق
    </h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">



            <!-- Multi Column with Form Separator -->
            <div class="card mb-4">
                <h5 class="card-header">عناصر عن التطبيق</h5>
                <form enctype="multipart/form-data" method="post" role="form" asp-area="Admin" asp-controller="AboutApp" asp-action="Save" class="card-body">
                 
                  
                  <div class="row g-3">
                    <div class="col-md-12">
                       <input type="hidden" asp-for="AboutAppId">
                            <input type="hidden" asp-for="CreatedDate">
                            <label class="form-label" for="basic-default-fullname">عنوان عن التطبيق</label>
                            <input asp-for="AboutAppTitle" type="text" class="form-control" id="basic-default-fullname" placeholder="عنوان عن التطبيق" />
                            <span asp-validation-for="AboutAppTitle" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                            <label class="form-label" for="basic-default-company">تفاصيل عن التطبيق</label>
                            <input asp-for="AboutAppDescription" type="text" class="form-control" id="basic-default-company" placeholder="تفاصيل عن التطبيق" />
                            <span asp-validation-for="AboutAppDescription" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                      <label class="form-label" for="multicol-country">Country</label>
                        <select asp-for="AboutAppForWhom" id="multicol-country" class="select2 form-select" data-allow-clear="true">
                        <option value="">اختر موجهة لمن</option>
                                <option value="المحامي" data-select2-id="29">المحامي</option>
                                <option value="المستخدم" data-select2-id="30">المستخدم</option>
                      </select>
                            <span asp-validation-for="AboutAppForWhom" class="text-danger"></span>
                    </div>
                   
                  </div>
                  <div class="pt-4">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                  
                  </div>
                </form>
              </div>
        </div>
      
    </div>


 </div>
 @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     
    }

 }