@model Domains.TbNotification
@inject Microsoft.AspNetCore.Identity.SignInManager<BL.ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<BL.ApplicationUser> userManager
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">لوحة التحكم/</span>  الاشعارات
    </h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">



            <!-- Multi Column with Form Separator -->
            <div class="card mb-4">
                <h5 class="card-header">عناصر  الاشعارات</h5>
                <form enctype="multipart/form-data" method="post" role="form" asp-area="Admin" asp-controller="Notification" asp-action="Save" class="card-body">


                    <div class="row g-3">
                        <div class="col-md-12">
                           <input type="hidden"  asp-for="NotificationId" >
                            <input type="hidden" value=" @userManager.GetUserAsync(User).Result.Id" asp-for="SenderId">
                             <input type="hidden" value=" @userManager.GetUserAsync(User).Result.FirstName" asp-for="SenderName">
                            <label class="form-label" for="basic-default-fullname">نص الاشعار</label>
                            <input asp-for="Text" type="text" class="form-control" id="basic-default-fullname" placeholder="نص الاشعار" />
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                      
                        <div class="col-md-12">
                            <label class="form-label" for="multicol-country">موجهة لمن</label>
                            <select asp-items="@(new SelectList(ViewBag.cities , "Id" , "Email"))" asp-for="ToWhomId" id="multicol-country" class="select2 form-select" data-allow-clear="true">
                                <option value="">اختر موجهة لمن</option>
                              
                            </select>
                            <span asp-validation-for="ToWhomId" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>

                    </div>
                </form>
            </div>
        </div>

    </div>


</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

 }